.about-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 90%;
}

.my-info {
    margin-bottom: 30px;
}

.my-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
}

.info {
    display: inline;
    height: auto;
    width: auto;
    max-height: 50px;
}