.header-container {
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100%;
    z-index: 3;
    border-bottom: 3px solid #BA181B;
    background-color: #161A1D;
    color: white;
}

li:hover, .selected {
    color: #BA181B;
}

#header {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: fixed;
    width: 50%;
    top: 2%;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
}