h4, p, .btn, .form-group {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h3 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: center;
}

.subheading {
    border-bottom: 5px solid #BA181B;
    padding-bottom: 3px;
    text-align: center;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.name {
    color: #BA181B;
}